$yellow: rgb(218, 170, 14);
$green: rgb(127, 236, 55);
$lightgrey: rgb(212, 213, 216);
$lightgreen: rgb(170, 240, 113);
$blue: rgb(58, 107, 212);
$darkgrey: rgb(49, 49, 48);
$white: rgb(255, 255, 255);